.questionContainer{
    /* display: flex;
    flex-direction: column; */
    background:url('../img/welcome.jpg');
    height: 100vh;
    background-size: cover;
   
}
.quesitonTitle{
    text-align: center;
}
.questionTime{
    text-align: center;
    background-color: rgb(181, 238, 224);
}
.radioGroupContainer{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.radioGroup{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit {
   text-align: center;
   width: 100px;
    
}